<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <img src="assets/favicon.svg" class="header-logo noselect" alt="logo" />
        <span class="header-title noselect">Membership Console</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
        <div *ngIf="isMenuValid">
            <app-notification-menu></app-notification-menu>
            <app-help-menu></app-help-menu>
            <app-user-menu></app-user-menu>
        </div>
    </div>
</mat-toolbar>
