<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
        <mat-icon style="font-size: 34px" inline="true">apps</mat-icon>
        <span class="header-title">Membership Console</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
        <app-notification-menu></app-notification-menu>
        <button mat-icon-button>
            <mat-icon>help</mat-icon>
        </button>
        <app-user-menu></app-user-menu>
    </div>
</mat-toolbar>
