<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <mat-icon class="header-logo" [inline]="true">apps</mat-icon>
        <span class="header-title noselect">Membership Console</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="isMenuValid">
        <app-notification-menu></app-notification-menu>
        <app-help-menu></app-help-menu>
        <app-user-menu></app-user-menu>
    </div>
</mat-toolbar>
