<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav-container__nav" mode="side" opened>
        <div fxLayout="column" fxLayoutAlign="space-between" style="height: 100%">
            <div *ngIf="product">
                <!-- ページ説明 -->
                <div fxLayout="column" class="page-detail">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                </div>

                <mat-divider></mat-divider>

                <!-- ナビリスト -->
                <mat-nav-list>
                    <a
                        *ngFor="let nav of product.navs"
                        [routerLink]="product.path + nav.path"
                        routerLinkActive="active"
                        mat-list-item
                    >
                        <mat-icon>{{ nav.icon }}</mat-icon>
                        <span>{{ nav.label }}</span>
                    </a>

                    <!-- 外部リンク -->
                    <a
                        mat-list-item
                        target="_blank"
                        rel="noopener noreferrer"
                        href="https://membership-console.github.io/docs"
                    >
                        <mat-icon>description</mat-icon>
                        <span>ドキュメント</span>
                        <mat-icon class="right-align">launch</mat-icon>
                    </a>
                    <a
                        mat-list-item
                        target="_blank"
                        rel="noopener noreferrer"
                        href="https://github.com/membership-console"
                    >
                        <mat-icon>description</mat-icon>
                        <span>GitHub</span>
                        <mat-icon class="right-align">launch</mat-icon>
                    </a>
                </mat-nav-list>
            </div>

            <!-- HOMEへ戻るボタン -->
            <mat-nav-list>
                <mat-divider></mat-divider>
                <a
                    mat-list-item
                    class="go-home-button project-top-border"
                    [routerLink]="'/dashboard'"
                >
                    <mat-icon>keyboard_double_arrow_left</mat-icon>
                    <span>HOME</span>
                </a>
            </mat-nav-list>
        </div>
    </mat-sidenav>

    <ng-content></ng-content>
</mat-sidenav-container>
