/**
 * prism.js Visual Studio Code Theme
 * @author Visual Studio Code
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #9cdcfe;
    background: none;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    border-radius: 4px;
    background: #1e1e1e;
    font-size: 14px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6a9955;
}

.token.punctuation {
    color: #ccc;
}

.token.tag,
.token.namespace,
.token.deleted {
    color: #569cd6;
}

.token.attr-name {
    color: #9cdcfe;
}

.token.function-name {
    color: #6196cc;
}

.token.boolean {
    color: #569cd6;
}

.token.number {
    color: #b5cea8;
}

.token.function {
    color: #dcdcaa;
}

.token.property,
.token.constant,
.token.symbol {
    color: #51b6c4;
}

.token.builtin,
.token.class-name {
    color: #4ec9b0;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword {
    color: #c586c0;
}

.token.string,
.token.char,
.token.attr-value,
.token.variable {
    color: #ce9169;
}

.token.regex {
    color: #d16969;
}

.token.operator {
    color: #d4d4d4;
}

.token.entity,
.token.url {
    color: #67cdcc;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: #8fce00;
}

/* Html */
.language-html :not(.token) {
    color: #d4d4d4;
}

.language-html .token.punctuation {
    color: #808080;
}

/* TypeScript */
.language-typescript .language-javascript {
    color: #9cdcfe;
}

.language-typescript .language-javascript .token.string {
    color: #ce9169;
}

.language-typescript .language-javascript .token.punctuation {
    color: #3f9cd6;
}

.language-typescript
    .language-javascript
    .script-punctuation
    + .token.punctuation
    + .token.punctuation {
    color: #d4d4d4;
}

.language-typescript
    .language-javascript
    .script-punctuation
    + .token.punctuation
    + .token.punctuation
    ~ .token.punctuation {
    color: #d4d4d4;
}

.language-typescript
    .language-javascript
    .script-punctuation
    + .token.punctuation
    + .token.punctuation
    ~ .token.punctuation
    + .token.punctuation {
    color: #3f9cd6;
}

.language-typescript .keyword-class,
.language-typescript .keyword-const,
.language-typescript .keyword-constructor,
.language-typescript .keyword-function,
.language-typescript .keyword-implements,
.language-typescript .keyword-new,
.language-typescript .keyword-private,
.language-typescript .keyword-public,
.language-typescript .keyword-this {
    color: #569cd6;
}

.language-typescript .keyword-void {
    color: #4ec9b0;
}

.language-typescript .import-member {
    color: #9cdcfe;
}
