<app-header></app-header>
<div fxLayout="column" fxLayoutAlign="center center" class="auth-card-container">
    <mat-card>
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon [inline]="true" class="auth-card-container__logo">
                        account_circle
                    </mat-icon>

                    <div class="auth-card-container__title">
                        <span style="color: #0e9fcc">Change</span>
                        <span>{{ " " }}</span>
                        <span>Your Password</span>
                    </div>
                </div>

                <form
                    (ngSubmit)="onSubmit()"
                    *ngIf="form"
                    [formGroup]="form"
                    fxLayout="column"
                    fxLayoutAlign="start center"
                    class="auth-card-container__form"
                    fxLayoutGap="10px"
                >
                    <app-shared-input
                        class="auth-card-container__form-field"
                        formControlName="newPassword"
                        label="新しいパスワード"
                        appearance="fill"
                        type="password"
                        prefixIcon="lock"
                    ></app-shared-input>

                    <app-shared-input
                        class="auth-card-container__form-field"
                        formControlName="confirmNewPassword"
                        label="新しいパスワードの確認"
                        appearance="fill"
                        type="password"
                        prefixIcon="lock"
                    ></app-shared-input>

                    <div
                        fxLayout="row"
                        fxLayoutAlign="space-between"
                        class="auth-card-container__form-field"
                    >
                        <mat-checkbox>REMEMBER ME</mat-checkbox>
                    </div>

                    <app-flat-button
                        label="LOGIN"
                        type="submit"
                        fxFlexOffset="10px"
                        minWidth="100%"
                        class="auth-card-container__form-field"
                    ></app-flat-button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
