@import "src/assets/scss/colors";

.user-menu__icon {
    font-size: 80px;
}

.user-menu__name {
    font-size: 0.9rem;
}

.user-menu__email {
    @include font-color-gray;
    font-size: 0.9rem;
}

.user-menu__privacy {
    @include font-color-link;
    font-size: 0.9rem;
}
