<button
    fxLayout="row"
    fxLayoutAlign="start center"
    [matMenuTriggerFor]="menu"
    mat-button
    style="padding: 0 8px"
>
    <mat-icon style="margin-right: 5px">account_circle</mat-icon>
    <span>abe_tatsuya</span>
    <mat-icon>arrow_drop_down</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <div
        fxLayout="row"
        fxLayoutAlign="start center"
        class="user-menu"
        fxLayoutGap="10px"
        style="margin: 5px 20px 5px 10px"
    >
        <mat-icon class="user-menu__icon" inline="true">account_circle</mat-icon>
        <div fxLayout="column">
            <span class="user-menu__name">阿部 健太朗</span>
            <span class="user-menu__email">email@example.com</span>
            <span class="user-menu__privacy">プライバシー</span>
        </div>
    </div>

    <mat-divider></mat-divider>
    <div [routerLink]="'/settings'" mat-menu-item queryParamsHandling="merge">
        <span>アプリケーション設定</span>
    </div>
    <div [routerLink]="'/notifications'" mat-menu-item queryParamsHandling="merge">
        <span>運営のお知らせ</span>
    </div>

    <mat-divider></mat-divider>

    <div
        fxLayout="row"
        fxLayoutAlign="space-between"
        fxLayoutGap="20px"
        style="margin: 0 20px 0 20px; padding: 8px 0"
    >
        <app-stroked-button
            minWidth="none"
            label="アカウント設定"
            [routerLink]="'/mypage'"
        ></app-stroked-button>
        <app-stroked-button
            minWidth="none"
            label="ログアウト"
            (click)="onClickLogout()"
        ></app-stroked-button>
    </div>
</mat-menu>
