<div fxLayout="column" fxLayoutGap="30px">
    <app-card title="基本設定">
        <form
            (ngSubmit)="onSubmit()"
            *ngIf="form"
            [formGroup]="form"
            fxLayout="column"
            fxLayoutAlign="start center"
        >
            <div class="form-field-wrapper--auto" fxLayout="row">
                <span>通知</span>
                <app-shared-toggle-button
                    formControlName="notification"
                    [options]="notificationOptions"
                ></app-shared-toggle-button>
            </div>

            <div class="form-field-wrapper--auto" fxLayout="row">
                <span>テーマ</span>
                <app-shared-radio-button
                    formControlName="theme"
                    [options]="themeOptions"
                ></app-shared-radio-button>
            </div>

            <div class="form-field-wrapper--auto" fxLayout="row">
                <span>言語</span>
                <app-shared-autocomplete-select
                    formControlName="language"
                    [options]="languageOptions"
                    label="言語"
                ></app-shared-autocomplete-select>
            </div>

            <div
                fxLayout="row"
                fxLayoutAlign="center center"
                fxFlexOffset="10px"
                fxLayoutGap="10px"
            >
                <app-flat-button label="確認" type="submit"></app-flat-button>
                <app-flat-button
                    label="キャンセル"
                    [color]="null"
                    (click)="onCancel()"
                ></app-flat-button>
            </div>
        </form>
    </app-card>

    <app-card title="多要素認証">
        <blockquote>
            <p>多要素認証を行えるようにする</p>
        </blockquote>
    </app-card>
</div>
