.form-field-wrapper {
    width: 100%;

    span {
        width: 150px;
        min-width: 150px;
    }

    mat-slide-toggle,
    mat-radio-group,
    mat-form-field {
        min-width: 200px;
        margin-bottom: 10px;
    }
}
