<div fxLayout="row wrap" fxLayoutAlign="start wrap" fxLayoutGap="20px">
    <mat-card
        class="mat-elevation-z2 product-card noselect"
        style="width: 100%"
        *ngFor="let element of products"
        [routerLink]="element.path"
        queryParamsHandling="merge"
    >
        <mat-card-content fxLayout="column" fxLayoutAlign="start">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="8px"
                    class="product-card__title"
                >
                    <mat-icon>{{ element.icon }}</mat-icon>
                    <span>{{ element.name }}</span>
                </div>

                <app-status-badge [status]="true" [label]="element.version"></app-status-badge>
            </div>

            <p class="product-card__description">{{ element.description }}</p>
        </mat-card-content>
    </mat-card>
</div>
