<app-card>
    <form
        (ngSubmit)="onSubmit()"
        *ngIf="form"
        [formGroup]="form"
        fxLayout="column"
        fxLayoutAlign="start center"
    >
        <div class="form-field-wrapper--full" fxLayout="row">
            <span>名前</span>
            <app-shared-input formControlName="name" label="名前"></app-shared-input>
        </div>

        <div class="form-field-wrapper--full" fxLayout="row">
            <span>スコープ</span>
            <app-shared-autocomplete-chip-input
                *ngIf="scopeOptions"
                formArrayName="scopes"
                [options]="scopeOptions"
                label="スコープ"
                hint="1つ以上のスコープを割り当てる必要があります。"
            ></app-shared-autocomplete-chip-input>
        </div>

        <div class="form-field-wrapper--auto" fxLayout="row">
            <span>クライアント種別</span>
            <app-shared-autocomplete-select
                formControlName="type"
                [options]="typeOptions"
                label="クライアント種別"
                [disabled]="true"
            ></app-shared-autocomplete-select>
        </div>

        <div class="form-field-wrapper--full" fxLayout="row">
            <span>SSO可否</span>
            <app-shared-toggle-button
                formControlName="sso"
                [options]="ssoOptions"
                [disabled]="true"
            ></app-shared-toggle-button>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="10px" fxLayoutGap="10px">
            <app-flat-button label="確認" type="submit"></app-flat-button>
            <app-flat-button
                label="キャンセル"
                [color]="null"
                (click)="onCancel()"
            ></app-flat-button>
        </div>
    </form>
</app-card>
