<div fxLayout="column">
    <div>
        <input [formControl]="controlDir.control" [hidden]="true" matInput />
        <mat-radio-group
            (change)="onChange($event.value)"
            [formControl]="controlDir.control"
            [value]="defaultOption?.value"
            [disabled]="disabled"
            class="radio-button-container"
            fxLayout="row"
            fxLayoutGap="30px"
        >
            <mat-radio-button *ngFor="let option of options" [value]="option.value">
                {{ option.label }}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div style="height: 1em">
        <mat-error *ngIf="controlDir.control?.hasError('required')">
            {{ placeholder }}を入力してください。
        </mat-error>
        <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    </div>
</div>
