@import "src/assets/scss/colors";

.mat-icon {
    margin-right: 3px;
}

button.color-none {
    @include font-color-black;
    border: 1px solid !important;
    border-color: #c4c4c4 !important;
}

button:not(.color-none) {
    border: 1px solid;
    border-color: #3f51b5 !important;
}

button.disabled {
    border: 1px solid;
    border-color: #e0e0e0 !important;
}
