<div class="dialog" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="20px">
    <h2 mat-dialog-title class="dialog__title">クライアント認証情報</h2>
    <mat-dialog-content fxLayout="column" fxLayoutGap="1em">
        <p>
            <strong class="success-text" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>check_box</mat-icon>
                認証情報（クライアントIDおよびシークレット）は正常に作成されました。
            </strong>
        </p>
        <p>
            <strong>
                認証情報ファイルを今すぐダウンロードしてください。ダウンロードした認証情報は安全に保存し、誰にも共有しないでください。
            </strong>
        </p>
    </mat-dialog-content>

    <mat-dialog-actions fxLayoutGap="10px">
        <app-flat-button
            (click)="downloadCredentials()"
            label="認証情報ファイルをダウンロード"
        ></app-flat-button>
        <app-stroked-button (click)="close()" label="閉じる"></app-stroked-button>
    </mat-dialog-actions>
</div>
