.dialog {
    width: 700px;

    .dialog__title {
        font-weight: bold;
    }
}

.success-text {
    color: #008e00;
}

.credentials {
    margin: 1em 1em;
    border-radius: 14px;
    border: 1px solid #ece9cd;
    background-color: #f8f5d8;
    color: #666666;
}

p {
    margin: 0;
}
