<app-header></app-header>
<div fxLayout="column" fxLayoutAlign="center center" class="auth-card-container">
    <mat-card>
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon [inline]="true" class="auth-card-container__logo">
                        account_circle
                    </mat-icon>

                    <div class="auth-card-container__title">
                        <span style="color: #0e9fcc">Reset</span>
                        <span>{{ " " }}</span>
                        <span>Your Password</span>
                    </div>
                </div>

                <form
                    (ngSubmit)="onSubmit()"
                    *ngIf="form"
                    [formGroup]="form"
                    fxLayout="column"
                    fxLayoutAlign="start center"
                    class="auth-card-container__form"
                    fxLayoutGap="10px"
                >
                    <app-shared-input
                        class="auth-card-container__form-field"
                        formControlName="email"
                        label="メールアドレス"
                        appearance="fill"
                        prefixIcon="mail"
                    ></app-shared-input>

                    <app-flat-button
                        label="パスワードを再発行"
                        type="submit"
                        fxFlexOffset="10px"
                        minWidth="100%"
                        class="auth-card-container__form-field"
                    ></app-flat-button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
