<mat-form-field *ngIf="controlDir.control !== null" [appearance]="appearance" fxFlex>
    <mat-label>{{ label }}</mat-label>
    <mat-select
        (closed)="onClose()"
        (selectionChange)="onChange($event.value)"
        [formControl]="controlDir.control"
        [placeholder]="placeholder"
        [value]="controlDir.control.value"
        [disabled]="disabled"
    >
        <div class="search-container">
            <input
                #searchInput
                (input)="filterOptions()"
                class="search-container__input"
                placeholder="Search..."
                type="text"
            />
            <button (click)="onClickClear()" class="search-container__clear-button" mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
        </div>

        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
            {{ option.label }}
        </mat-option>
        <mat-option *ngIf="(filteredOptions | async)?.length === 0" [disabled]="true">
            No results found
        </mat-option>
    </mat-select>
    <mat-error *ngIf="controlDir.control?.hasError('required')">
        {{ placeholder }}を入力してください。
    </mat-error>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
</mat-form-field>
