<button [matMenuTriggerFor]="menu" mat-icon-button>
    <mat-icon [matBadge]="number_of_notifications" matBadgeColor="warn">notifications</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <div fxLayout="row" fxLayoutAlign="center" style="width: 350px; padding: 16px 0">
        <span class="menu-title">通知</span>
    </div>

    <mat-divider></mat-divider>

    <div style="padding: 11px 16px">
        <span>通知はありません</span>
    </div>

    <mat-divider></mat-divider>

    <div [routerLink]="'/notifications'" mat-menu-item queryParamsHandling="merge">
        <span class="show-all-notification">全ての通知を表示</span>
    </div>
</mat-menu>
