@import "assets/scss/colors.scss";

body {
    @include font-color-black;
    word-wrap: break-word;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
    margin: 0;
    min-width: 570px;
}

blockquote {
    background: rgba(10, 133, 255, 0.14);
    border-left: 4px solid #0066cc;
    border-radius: 4px;
    color: #666;
    margin: 20px 0;
    padding: 1px 20px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-field-wrapper--half {
    width: 100%;

    span {
        width: 200px;
        min-width: 200px;
        padding-top: 10px;
    }

    app-shared-input:nth-of-type(1) {
        padding-right: 20px;
    }

    app-shared-input,
    app-shared-textarea {
        min-width: 300px;
        width: calc((100% - 200px) / 2);
        margin-bottom: 10px;
    }
}

.form-field-wrapper--full {
    width: 100%;

    span {
        width: 200px;
        min-width: 200px;
        padding-top: 10px;
    }

    app-shared-input,
    app-shared-textarea {
        min-width: 300px;
        width: 100%;
        margin-bottom: 10px;
    }
}
