.mat-column-title {
    max-width: 200px;
}

.mat-column-body {
    max-width: 500px;
    padding-right: 30px;
}

.mat-column-status {
    min-width: 100px;
}

.mat-column-posted-date {
    padding-right: 0 !important;
}
